src/main/mule/world-demo-api-updated.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="db0a8047-ac1c-43fb-a59f-9b3adb426d21" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="04b055a6-73d5-42e4-9f57-c080253cc005" basePath="/api/timezone">
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
<!-- [STUDIO:"world-demo-apiFlow"]	<flow name="world-demo-apiFlow" doc:id="d6e03002-a1df-458d-80ac-8ccf2c462d4e" >
		<http:listener doc:name="Listener" doc:id="71f1ae3c-e95f-4ab1-81b7-0bad0195cb85" path="/{region}/{city}" config-ref="HTTP_Listener_config"/>
		<http:request method="GET" doc:name="Request" doc:id="7ca55f63-085f-4624-bf4f-4db8be30b49b" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
&#45;&#45;-
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}&#93;&#93;&#93;></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="99a6fe5a-4912-4470-b3d5-a8dec2ad64f9" message="#[payload&#93;"/>
	</flow> [STUDIO] -->
	<flow name="world-demo-api-updatedFlow" doc:id="15134fe1-4b57-4736-9efe-5c5c9955d105" >
		<scheduler doc:name="Scheduler" doc:id="0f21d4b2-6073-482e-a725-302f977adbab" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="568c73af-c826-4408-a0b4-0c03724748d2" message="------------------ Logged -------------------"/>
	</flow>
</mule>
